/ir_corpus/Tops/*
/ir_corpus/Bottoms/*
/ir_corpus/Shoes/*
/ir_corpusclean/Tops/*
/ir_corpusclean/Bottoms/*
/ir_corpusclean/Shoes/*
/ir_corpusoutside/Tops/*
/ir_corpusoutside/Bottoms/*
/ir_corpusoutside/Shoes/*
/**/*.jpg
/**/*.jpeg
